{% extends 'app_base/base.html' %}
{% load static %}
{% block background %}{% static 'app_base/img/background.png' %}{% endblock %}

{% block content %}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 disp-off">
                <div class="container py-3">
                    <div class="ms-2 mt-5 m-3">
                        <h1 class="ms-3 pt-5 font-tam">Te damos la bienvenida <br> al home banking</h1>
                        <p class="mt-4 ms-5 fs-4">Creamos valor con y para vos</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mt-3 mb-3">
                <div class="row">
                    <div class="col mt-4 mb-4 me-5 mt-5 ms-5" >
                        <div class="m-3 rounded-4 shadow p-3 mb-5 rounded-4" style="background-color:#eeeeee;">
                            <div class="mx-4 my-2 disp-off-login">
                                <ul class="nav nav-tabs nav-fill justify-content-center">
                                    <li class="nav-item">
                                        <a class="nav-link active button-js" aria-current="page" href="#" id="client" data-number="1" >Soy Cliente</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link button-js" href="#" id="noClient" data-number="2">No Soy Cliente</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mx-4 disp-off-login-2">
                                <div class="dropdown">
                                    <a class="btn dropdown-toggle" style="background-color: #dfdfdf;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    </a>
                                  
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item button-js" href="#" data-number="3" id="clientDrop">Soy Cliente</a></li>
                                        <li><a class="dropdown-item button-js" href="#" data-number="4" id="noClientDrop">No Soy Cliente</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-login show no-show" data-section="1">
                                <p class="mx-4 my-4 fs-4">Ingrese aca para operar</p>
                                <form action="" method="POST">
                                    {% csrf_token %}

                                    <div class="form-floating mx-4 mt-3 mb-3">
                                        <input type="text" name="username" autofocus maxlength="254" required id="id_username" class="form-control" placeholder="DNI"/>
                                        <label for="username">DNI</label>
                                    </div>
                                    <div class="form-floating mx-4 mt-3 mb-3">
                                        <input type="password" name="password" required id="id_password" class="form-control" placeholder="Contraseña"/>
                                        <label for="username">Contraseña</label>
                                    </div>
                                    
                                    {% if form.non_field_errors %}
                                    <p class="mx-4" style="color: red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
                                    {% endif %}

                                    <div class="mx-4 mt-4 mb-3">
                                        <p class="px-2 py-4" style="background-color: #c9c9c9;">
                                            Los datos de cuenta, Token de seguridad, los datos de tu tarjeta de coordenadas y tus claves personales. ¡No los compartas! Conocé más consejos de seguridad
                                        </p>
                                    </div>
                                    <div class="m-5 text-center">
                                        <p><input type="submit" class="btn btn-block rounded-5 text-light btn-lg ps-5 pe-5" style="background-color: #5a407a;" value="Acceder"></p>
                                    </div>
                                </form>
                                <div class="m-2">
                                    <p class="text-center">
                                        ¿No tenés tu clave Santander?, <br>
                                        ¿No recordás tu clave y/o usuario? <br>
                                        Ingresá para obtener uno nuevo <a href="#">desde acá</a>
                                    </p>
                                </div>
                            </div>
                            <div class="form-login no-show" data-section="2">
                                <div class="text-center my-4">
                                    <span class="fs-5"><strong>Abri tu cuenta totalmente</strong></span>
                                    <br>
                                    <span class="fs-5"><strong>de forma 100% digital.</strong></span>
                                    <br>
                                    <p class="mx-4 my-2">Conoce todo lo que te ofrecemos en ITBANK</p>
                                </div>
                                <div class="mx-4 my-4 fs-4 text-center">
                                    <div class="row">
                                        <div class="col-lg-6 my-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#9B46BB" class="bi bi-credit-card-2-back-fill" viewBox="0 0 16 16" class="icons">
                                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5H0V4zm11.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-2zM0 11v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1H0z"/>
                                            </svg>
                                            <p class="fs-5">Tarjeta de Debito</p>
                                        </div>
                                        <div class="col-lg-6 my-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#9B46BB" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                                            </svg>
                                            <p class="fs-5">Movimientos limitados</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col my-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#9B46BB" class="bi bi-wallet2" viewBox="0 0 16 16">
                                                <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
                                            </svg>
                                            <p class="fs-5">Pagos de servicios</p>
                                        </div>
                                    </div>
                                    <div class="mx-5 description">
                                        <span class="m-1 fs-5">Usando tu Cuenta ¡no pagas el mantenimiento!</span>
                                        <p class="fs-6">Disfruta de 6 meses sin cargo si cumplis con alguna de nuestras condiciones</p>
                                    </div>
                                    <div class="my-4">
                                        <a class="btn rounded-5 text-light btn-lg ps-5 pe-5" style="background-color: #5a407a;" href="#" role="button">Quiero saber mas</a>
                                    </div>
                                </div>
                                <div class="rec text-center">
                                    <span>"Si no tenes u olvidaste tu clave y/o usuario"</span>
                                    <br>
                                    <a href="{% url 'registro' %}" role="button">Crear clave y usuario</a>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

{% endblock %}